<div class="container-fluid" id="SpinDocuments" style="background-color: gray">
    <div class="row" id="mid-column">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <div  style="border: black 2px dotted;margin-top: 5%;margin-bottom: 5%;">
            
       <h2 style="text-align: center;margin-top: 1%;">Drag & Drop Files or Upload</h2> 
       <p hidden id="txt_filename"></p>
       <button class="btn btn-dark btn-lg" style="margin-top: 15%;margin-bottom: 1%;margin-left: 45%; ">Upload</button>
        </div>
      </div>
      <div class="col-md-1">

      </div>
    </div>
  </div>
